## **Chapter 04: Strings and Lists**

We will dive deep into understanding strings and lists in Python. Strings and lists are fundamental data types that are widely used in Python programming. By the end of this workshop, you will have a comprehensive understanding of string operations, formatting, list operations, and methods.

### **4.1 Introduction to Strings:**

**String Creation and Assignment:**

In [7]:
# Single and double quotes for string creation
str1 = 'Hello, World!'
str2 = "Python is awesome!"

# Multi-line strings with triple quotes
str3 = '''This is a multi-line
string in Python.
And I believe you are a good guy
and that's why you are learning Python.
'''

str4 = """

hello this is multiline string with 'double quotations'
Wasn't it wonderful?

"""
print(str1)
print(str2)
print(str3)
print(str4)

Hello, World!
Python is awesome!
This is a multi-line
string in Python.
And I believe you are a good guy
and that's why you are learning Python.



hello this is multiline string with 'double quotations'
Wasn't it wonderful?

**String Indexing and Slicing:**

In [13]:
text = "Python Programming"

# Indexing
print(text[0])
print(text[5])
print(text[-1])
print(text[-4])

# Slicing
print(text[0:6])
print(text[7:])

P
n
g
m
Python
Programming

**String Concatenation:**

In [17]:
str1 = "Hello"
str2 = "World"

concatenated_str = str1 + " , " + str2
print(concatenated_str)

Hello , World

**String Methods:**

In [21]:
text = " Python is fun! "

print(text.upper())
print(text.lower())
print(text.strip())  # Removing or stripping white spaces

print(text.replace('fun', 'awesome'))

print(text.replace('Python', 'Typescript'))

 PYTHON IS FUN!
 python is fun!
Python is fun!
 Python is awesome!
 Typescript is fun!

### **4.2 String Formatting:**

**Basic String Formatting using % Operator:**

%s means String
%d means Integer
%f means Float

In [22]:
name = "Alice"
age = 30

formatted_str = "My name is %s and I am %d years old." % (name, age)
print(formatted_str)

My name is Alice and I am 30 years old.

**Format Method:**

In [25]:
name = "Bob"
age = 25

formatted_str = "My name is {} and I am {} years old.".format(name, age)
print(formatted_str)

My name is Bob and I am 25 years old.

**F-strings (Formatted String Literals):**

THIS WAS INTRODUCED IN PYTHON 3.8 FOR THE FIRST TIME (2019)

In [26]:
name = "Carol"
age = 35

formatted_str = f"My name is {name} and I am {age} years old."
print(formatted_str)

My name is Carol and I am 35 years old.

### **4.3 Escape Sequences**

In Python, escape sequences are special characters used to represent certain non-printable or special characters within strings. They are prefixed with a backslash `\`. Here's a table representing some common escape sequences and their meanings:

| Escape Sequence | Meaning                  |
|-----------------|--------------------------|
| `\\`            | Backslash                |
| `\'`            | Single quote (apostrophe)|
| `\"`            | Double quote             |
| `\n`            | Newline                  |
| `\t`            | Tab                      |
| `\r`            | Carriage return          |
| `\b`            | Backspace                |
| `\f`            | Form feed                |

Escape sequences allow us to include special characters in strings and format the output effectively. Use them wisely to enhance the readability and usability of your Python programs.

In [36]:
# Using escape sequences to create special characters within strings

print("Hello, \"Python\"!")

print('I\'m learning Python.')

print("Line 1\nLine 2\nLine 3")   # IMPORTANT

print("Name:\tJohn")   # IMPORTANT

print("This is a carriage return:\rHello")

print("Backspace:\b\b\bHello")

Hello, "Python"!
I'm learning Python.
Line 1
Line 2
Line 3
Name:	John
Hello
Backspace:Hello

### **4.4 List Basics**

**Creating Lists:**

In [37]:
fruits = ["apple", "banana", "orange", "grape"]
numbers = [1, 2, 3, 4, 5]
mixed_list = ["apple", 42, True, 3.14]

print(fruits)
print(numbers)
print(mixed_list)

['apple', 'banana', 'orange', 'grape']
[1, 2, 3, 4, 5]
['apple', 42, True, 3.14]

**List Indexing and Slicing:**

In [38]:
fruits = ["apple", "banana", "orange", "grape"]

print(fruits[0])
print(fruits[-1])
print(fruits[1:3])

apple
grape
['banana', 'orange']

**Modifying Lists:**

In [45]:
fruits = ["apple", "banana", "orange", "grape"]

fruits.append("kiwi")
print(fruits)

fruits.insert(2, "mango")
print(fruits)

fruits.extend(["pineapple", "watermelon","cherry"])
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']
['apple', 'banana', 'mango', 'orange', 'grape', 'kiwi']
['apple', 'banana', 'mango', 'orange', 'grape', 'kiwi', 'pineapple', 'watermelon', 'cherry']

### **4.5 List Methods:**

**Common List Methods:**

In [47]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

numbers.remove(3)
print(numbers)

numbers.pop()  # Remove last element
print(numbers)

[1, 1, 2, 3, 4, 5, 5, 6, 9]
[9, 6, 5, 5, 4, 3, 2, 1, 1]
[9, 6, 5, 5, 4, 2, 1, 1]
[9, 6, 5, 5, 4, 2, 1]

**Other Useful List Methods:**

In [51]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]

index_5 = numbers.index(5)
print(index_5)

count_1 = numbers.count(1)
print(count_1)

numbers_copy = numbers.copy()
print(numbers_copy)

4
2
[3, 1, 4, 1, 5, 9, 2, 6, 5]

**List Comprehension:**

In [56]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

### **4.6 Combining Strings and Lists:**

**Joining Strings from a List:**

In [60]:
fruits = ["apple", "banana", "orange"]

# Using join() method
combined_str = ", ".join(fruits)
print(combined_str)

apple, banana, orange

**Splitting a String into a List:**

In [64]:
text = "apple, banana, orange"

# Using split() method
fruits_list = text.split(", ")
print(fruits_list)

['apple', 'banana', 'orange']

### **4.7 Built-in Functions:**

**len() Function:**

In [65]:
text = "Python is amazing!"

length = len(text)
print(length)

18

In [66]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]

length = len(numbers)
print(length)

9

**min() and max() Functions:**

In [67]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]

min_num = min(numbers)
print(min_num)  # Output: 1

max_num = max(numbers)
print(max_num)  # Output: 9

1
9

**sum() Function:**

In [68]:
numbers = [1, 2, 3, 4, 5]

total_sum = sum(numbers)
print(total_sum)   # Output: 15

15

**sorted() Function:**

In [71]:
fruits = ["orange", "apple", "banana", "grape"]

sorted_fruits = sorted(fruits)
print(sorted_fruits)   # It assignes the copy of sorted output

print(fruits)

['apple', 'banana', 'grape', 'orange']
['orange', 'apple', 'banana', 'grape']

**Homework - Day 4: Strings and Lists**

**Question 1: Reverse a String**

Write a Python function called `reverse_string` that takes a string as input and returns the reversed version of that string. Do not use any built-in reverse functions.

**Example:**
```python
Input: "hello"
Output: "olleh"
```
**Hint:** You can use string slicing to reverse the string.

----

**Question 2: Count the Occurrences**

Write a Python function called `count_occurrences` that takes a list of words and a target word as inputs. The function should return the number of times the target word appears in the list.

**Example:**
```python
words_list = ["apple", "banana", "orange", "banana", "kiwi", "banana"]
target_word = "banana"
count = count_occurrences(words_list, target_word)
print(count)  # Output: 3
```
**Hint:** Use a loop to iterate through the list and count the occurrences of the target word.

---

**Question 3: Extracting Even Numbers**

Write a Python function called `extract_even_numbers` that takes a list of integers as input and returns a new list containing only the even numbers from the input list.

**Example:**
```python
numbers_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = extract_even_numbers(numbers_list)
print(even_numbers)  # Output: [2, 4, 6, 8, 10]
```
**Hint:** Use list comprehension to filter out the even numbers.

---

**Question 4: Concatenate Lists**

Write a Python function called `concatenate_lists` that takes two lists as input and returns a new list that contains all the elements from both input lists.

**Example:**
```python
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result_list = concatenate_lists(list1, list2)
print(result_list)  # Output: [1, 2, 3, 4, 5, 6]
```
**Hint:** You can use the `+` operator to concatenate two lists.